altair
pandas
# streamlit
# airbyte-agent-github>=0.18.21
pydantic-ai>=1.33.0
reportlab==4.4.7
streamlit==1.52.2
nest_asyncio==1.5.8
requests


# requests
# streamlit>=1.24
# pandas
# numpy
# altair
# airbyte-agent-github>=0.18.21
# pydantic-ai>=1.33.0
# nest_asyncio